<%= form_for @user do |f| %>
  <%= render 'shared/error_messages' %>

  <p>
  	<%= f.label :name %><br>
  	<%= f.text_field :name, class: 'form_control' %>
  </p>
  
  <p>
  	<%= f.label :email %><br>
  	<%= f.email_field :email, class: 'form_control' %>
  </p>
  
  <p>
  	<%= f.label :password %><br>
  	<%= f.password_field :password, class: 'form_control' %>
  </p>
  
  <p>
  	<%= f.label :password_confirmation, "Password Confirmation" %><br>
  	<%= f.password_field :password_confirmation, class: 'form_control'  %>
  </p>
  
  <p>
  	<%= f.submit "Start Tasting Beer", class: 'button'%>
  </p>
<% end%>