<% provide(:title, @user.name) %>
<div class="user_name">
  <h1><%= gravatar_for @user %></h1>
  <h1><%= @user.name.upcase%></h1>
</div>

<div class="col-md-12">
  <% if @user.beers.any? %>
    <h3>You've Tasted <%= @user.beers.count %> Beers!</h3>
    <ol class="beers">
 	  <%= render @beers %>
    </ol>
    <%= will_paginate @beers %>
  <% end %>
</div>
<div class="tastebeer">
  <%= link_to 'Taste a Beer', new_beer_path, class: "btn btn-primary btn-block"%>
</div>
 <%= yield :beers %>
 