<h1>You've Tasted <%= @beer.name %></h1>
<p>
  <strong>Brewed By:</strong>
  <%= @beer.brewery%>
</p>

<p>
  <strong>Tasting Notes:</strong>
  <%= @beer.tasting_notes%>
</p>

<!--Begin Comment Section-->
<h3>Beerments</h3>
<%= render @beer.comments%>

<h3>Add a comment about the beer</h3>
<%= render 'comments/form' %>
<!--End Comment Section-->

