<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Beermon", root_path, id: "logo", style: "float:right" %>
  <% if logged_in? %>
    <%= link_to "User", user_path(current_user), class: "btn-sm btn-primary" %>
    <%= link_to "LOG OUT", logout_path, class: "btn-sm btn-primary", method: "delete" %>
  <% else %>
    <%= link_to "SIGN UP HERE", signup_path, class: "btn-sm btn-primary" %>
    <%= link_to "LOG IN", login_path, class: "btn-sm btn-primary" %>     
  <% end %>
  <p style= "float:right; margin-left:5px;">BEERMON</p>
</header>