<!DOCTYPE html>
<html>
<head>
  <title>Beermon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "user_header">
  <!-- link_to "Sign Up", users_new_path -->
  
  <% if logged_in? %>
    <%= link_to current_user.name.upcase, user_path(current_user), class: "btn-sm btn-primary" %>
    <%= link_to "LOG OUT", logout_path, class: "btn-sm btn-primary", method: "delete" %>
  <% else %>
    <%= link_to "SIGN UP HERE", signup_path, class: "btn-sm btn-primary" %>
    <%= link_to "LOG IN", login_path, class: "btn-sm btn-primary" %>     
  <% end %>
  <%= link_to "BEERMON", root_path, id: "logo", class: "home" %>
  <!--<p style= "float:right; margin-left:5px;">BEERMON</p>-->
</div>
<div class="container">
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <%= yield %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
